<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/oekaki_styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('generate') }}" class="nav-button">画像生成</a>
        <a href="{{ url_for('upscale') }}" class="nav-button">アップスケール</a>
        <a href="{{ url_for('oekaki_index') }}" class="nav-button">Oekaki</a>
        <a href="{{ url_for('home') }}" class="nav-button">API</a> <!-- 修正箇所 -->
        <a href="{{ url_for('contact') }}" class="nav-button">お問い合わせ</a>
        <a href="{{ url_for('privacy_policy') }}" class="nav-button">プライバシーポリシー</a>
        <a href="{{ url_for('terms_of_service') }}" class="nav-button">利用規約</a>
        {% if session.get('credits') is not none %}
        <div class="credits">
            <p>残りクレジット: {{ session.get('credits') }}</p>
        </div>
        {% endif %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
