<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/oekaki_styles.css') }}">
    <style>
        .site-title {
            font-size: 24px;
            font-weight: bold;
            color: #00bfff; /* 水色に変更 */
            text-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* 柔らかい光 */
            text-decoration: none; /* リンクの下線を消す */
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div class="logo-container">
            <a href="{{ url_for('index') }}" class="site-title">SD GEN</a>
        </div>
        <a href="{{ url_for('generate') }}" class="nav-button">画像生成</a>
        <a href="{{ url_for('upscale') }}" class="nav-button">アップスケール</a>
        <a href="{{ url_for('oekaki_index') }}" class="nav-button">Oekaki</a>
        <a href="{{ url_for('index') }}" class="nav-button">API</a>
        <a href="{{ url_for('edit') }}" class="nav-button">画像編集</a>
        <a href="{{ url_for('generate_video') }}" class="nav-button">ビデオ生成</a>
        <a href="{{ url_for('control') }}" class="nav-button">Control機能</a>
        <a href="{{ url_for('contact') }}" class="nav-button">お問い合わせ</a>
        <a href="{{ url_for('privacy_policy') }}" class="nav-button">プライバシーポリシー</a>
        <a href="{{ url_for('terms_of_service') }}" class="nav-button">利用規約</a>
        {% if session.get('credits') is not none %}
        <div class="credits">
            <p>残りクレジット: {{ session.get('credits') }}</p>
        </div>
        {% endif %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
